.jobsIndex {
  display: grid;
  grid-template-rows: 4vh auto fit-content;
  grid-auto-rows: min-content;
  row-gap: 15px;
  justify-items: center;
  overflow-y: scroll;
  height: 82vh;
}

.jobsIndex h2 {
  margin-top: 1vh;
  font-size: 20px;
}

.jobsIndex a {
  width: 90%;
  color: black;
  /* color: unset; */
}
