/* dark mode compl color : #1c5079 */
.etc {
  color: #89d9e3,;
  color: #e3a389;
  color: #2380be;
  color: #1d262b;
  color: #81c2eeb4;;
}
/* light mode compl. color #89d9e3, #e3a389, #f9e7de */
.job-card {
  background-color: #f5e967;
  border: 2px solid var(--init-mint);
  color: #1d262b ;
  border-radius: 14px;
  width: 100%;
  height: 14vh;
  width: 88vw;
  display: grid;
  grid-template-rows: 1.6fr 1.2fr .9fr;
  grid-template-columns: 2fr 0.1fr 0.8fr;
  align-items: center;
  justify-items: left;
  padding: 3px;
}

.job-card-divider {
  grid-column: 2;
  grid-row: span 3;
  height: 85%;
  border-left: var(--init-blue) 2px solid;
  border-left: var(--init-mint) 2px solid;
}

.job-card-company {
  grid-column: 1;
  grid-row: 2;
  height: 100%;
  width: 100%;
  font-size: 16px;
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  justify-items: left;
  align-items: center;
}

.job-card-company span:first-of-type {
  font-size: 20px;
}

.job-card-title {
  font-size: 22px;
  font-weight: 600;
  grid-row: 1;
  grid-column: 1;
  margin-left: 0px;
  color: var(--init-blue);
}

.job-card-company,
.job-card-title,
.job-card-city {
  padding-left: 10px;
}

.job-card-remote {
  text-indent: unset;
  padding-left: unset;
  font-size: 13px;
  font-weight: 600;
  height: fit-content;
  width: fit-content;
  padding: 3px;
}

.job-card-skills {
  grid-column: 3;
  grid-row: 1/4;
  width: 95%;
  height: 90%;
  border-radius: 10px;
  border: 1px solid var(--init-mint);
  background-color: var(--init-background);
}
.job-card-skills .skills-component {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}
.job-card svg {
  height: 1.7em;
  width: 1.7em;
}

.job-card-city {
  grid-column: 1;
  grid-row: 3;
  color: rgb(79, 77, 77);
}
