.jobsIndex {
  display: grid;
  grid-template-rows: auto fit-content;
  grid-auto-rows: min-content;
  row-gap: 15px;
  justify-items: center;
  overflow-y: scroll;
  overflow-x:hidden;
  height: 82vh;
  margin-top: 2vh;
}

.jobsIndex a {
  width: 90%;
  color: black;
}
