.job-card {
    background-color: #ffde5995 ;
    border: 2px solid #41CDBC;
    border-radius: 14px;
    width: 100%;
    height: 14vh;
    display: grid;
    grid-template-rows: 2fr 1fr .8fr;
    grid-template-columns: 2fr .1fr .8fr;
    align-items: center;
    justify-items: left;
    padding: 3px;
}

.job-card-divider {
    grid-column: 2;
    grid-row: span 3;
    height: 85%;
    border-left: #0914AE 2px solid;
}

.job-card-company{
    grid-column: 1;
    grid-row: 2;
    height: 100%;
    width: 100%;
    font-size: 16px;
    display: grid;
    grid-template-columns: .6fr .4fr;
    justify-items: left;
    align-items: center;
}

.job-card-company span:first-of-type {
    font-size: 18px;
}

.job-card-title {
    font-size: 22px;
    font-weight: 600;
    grid-row: 1;
    grid-column: 1;
    margin-left: 0px;
}

.job-card-company, .job-card-title, .job-card-city {
    padding-left: 10px;
}

.job-card-remote  {
    text-indent: unset;
    padding-left:unset;
    background-color: rgb(211, 211, 211);
    /* border: 1px solid #0914AE; */
    border: 1px solid black;
    font-size: 13px;
    height: fit-content;
    width: fit-content;
    padding: 3px;
}

.job-card-skills  {
    grid-column: 3;
    grid-row: 1/4;
    width: 92%;
    height: 90%;
    border-radius: 10px;
    border: 1px solid #41CDBC ;
    background-color: #DEEFF9;
}
.job-card-skills .skills-component {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}
.job-card svg {
    height: 1.8em;
    width: 1.8em;
}

.job-card-city {
    grid-column: 1;
    grid-row: 3;
    color: rgb(79, 77, 77);
}



