.search-component {
    display: grid;
    grid-template-rows: 5vh auto;
    max-height: 29vh;
}

.search-component .search-bar-icon {

    /* float: right;
        margin-right: 6px;
        margin-top: -20px;
        position: relative;
        z-index: 2;
        color: red; */
    position: relative;
    left: 6vw;
    top: .7vh;
    z-index: 1;
    /* bottom: 8vh; */
}

.searchbar {
    border: 2px solid #41CDBC;
    width: 85vw;
    height: 4vh;
    border-radius: 20px;
    text-indent: 10vw;
    font-size: 18px;
    position: relative;
    right: 3vw;
}