.skills-component {
    /* grid-column: span 2; */
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    row-gap: 5px;
}

.skills-component span svg {
    height: 1.5em;
    width: 1.5em;
}

.skills-component span {
    z-index: 5;
    height: fit-content;
}
.skills-select {
    color: #FFDE59;
}

.skill-icon svg {
    fill: #0914AE;
    /* fill: black; */
}