/* 
    DESTINY: 
    THESE AREN'T DRASTICALLY AFFECTING THE OTHER TAGS ACROSS THE APP BUT JUST USING A CLASS NAME OR THE PATH TO THE ELEMENT WOULD BE BETTER
*/

input {
    width: 140px;
    padding-left: 6px;
}

textarea, input {
    border-style: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
}

textarea {
    width: 80%;
    height: 80px;
}


#user-icon {
    height: 110px;
    padding-top: 20px;
    padding-right: 30px;
}