.profile {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif */
}

.profile-details {
    text-align: left;
    padding: 10px 20px;
    line-height: 1.5;
    margin: 10px;
    font-size: 18px;
}

.bold {
    font-weight: 600;
    /* font-size: 18px; */
}

/* .right-side-profile {
    border: 1px solid red;
} */

#profile-icon {
    padding-left: 20px;
    /* color: #0914AE ; */
    color: black;
    padding-top: 20px;
    padding-right: 20px;
}

.profile-button {
    background-color: #0914AE;
    border: 1.5px solid black;
    border-radius: 10px;
    font-size: 18px;
    color: #FFDE59;
    width: 90px;
    height: 30px;
    margin-bottom: 20px;
}

#bio {
    grid-column: 1/3;
    text-align: left;
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
}

.activity {
    margin: 10px;
    padding: 15px 30px;
    text-align: left;
    border-style: none;
    border-top: 2px solid #0914AE;
    border-bottom: 2px solid #0914AE;
    /* border-radius: 10px; */
    /* background-color: #41CDBC; */
    grid-column: 1/3;
    font-size: 16px;
}

.activity ul li {
    list-style-type: none;
}

.logout {
    margin-top: 60px;
    margin-left: 30px;
}