.input-profile {
    border: none;
    border-radius: 6px;
    font-size: 18px;
    margin-top: 3px;
    font-weight: 600;
    height: 26px;
}

.input-name, .input-education {
    width: 160px;
   
}

.ul-projects input, .input-bio {
    width: 100%;
}

.input-bio {
    height: 90px;
}