.user-login-prompt {
  text-align: center;
  padding: 80px 20px;
}

.user-login-prompt h2 {
  font-size: 30px;
}

.login-button {
  border: none;
  background-color: #deeff9;
  margin-top: 40px;
  font-size: 30px;
  color: #0914ae;
}

.dark .login-button {
  background-color: #050525;
  color: #FFDE59
}

.profile {
  /* margin: 20px 30px 0px 30px; */
  padding: 20px 30px;
  font-size: 18px;
  /* border: 3px solid red; */
  height: 84vh;
}

.dark .profile a {
  color: #FFDE59;
}

.top-profile {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.icon-edit {
  display: grid;
  height: 180px;
}

.icon-edit img {
  justify-self: right;
  height: 130px;
}

.profile-button {
  border: none;
  /* fix color of background of app */
  background-color: #deeff9;
  font-size: 22px;
  justify-self: right;
  color: #0914ae;
}

.dark .profile-button {
  color: #FFDE59;
  background-color: #050525;
}

.profile-button img {
  height: 20px;
}

.bold {
  font-weight: 600;
}

.portfolio li a {
  color: #0914ae;
}

.label-spacing {
  padding: 3px 0;
}

.profile .skills-component svg {
  margin: 9px 0;
  height: 1.3em;
  width: 1.3em;
}

.dark .profile .skills-component {
  background-color: var(--init-background);
  border-radius: 6px;
}

.bio-section {
  padding-bottom: 15px;
  height: 50px;
  overflow-y: scroll;
}

.applications {
  text-align: left;
  border-style: none;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 20px;
  height: 30vh;
  overflow-y: scroll;
  border-top: 2px solid var(--init-blue);
}

.dark .applications {
  border-top: 2px solid var(--init-gold);

}

.applications a {
  color: #0914ae;
}

#activity-button {
  border-style: none;
  color: #0914ae;
  font-size: 22px;
  background-color: #deeff9;
  padding-bottom: 10px;
}

.dark #activity-button {
  color: #FFDE59;
  background-color: #050525;
}
