.profile {
    margin: 20px 30px;
    font-size: 18px;
}

.top-profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.icon-edit {
    display: grid;
    height: 180px;
}

.icon-edit img {
    justify-self: right;
    height: 130px;
}

.profile-button {
    border: none;
    /* fix color of background of app */
    background-color: #deeff9d0;
    font-size: 22px;
    justify-self: right;
    color: #0914AE;
}

.profile-button img {
    height: 20px;
}

.bold {
    font-weight: 600;
}

.portfolio li a{
    color: #0914AE;
}

.label-spacing{
    padding: 3px 0;
}

.applications {
    padding-top: 20px;
    text-align: left;
    border-style: none;
    border-top: 2px solid #0914AE;
    font-size: 18px;
}

.applications a {
    color: #0914AE
}


#activity-button {
    border-style: none;
    color: #0914AE;
    font-size: 22px;
}