.dev-section {
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  /* border: 2px solid #ffffff; */
  text-align: center;
  justify-content: center;

  /* padding-bottom: 20px; */
}

.dev-img {
  height: 30%;
  /* width: 20%; */
  border-radius: 100px;
  border: 5px solid #ffde59;
  /* margin: 20px 0px 0px 0px; */
}

.dev-cards {
  /* padding-left: 10px; */
  width: 95%;
  /* border: 2px solid rgb(0, 21, 255); */
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  justify-content: center; */
}

.dev-cards h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  /* color: var(--init-mint); */
  font-size: 23px;
  position: relative;
  left: 2%;
}
.dev-cards h2 {
  /* color: #0914ae; */
  /* padding-bottom: 5px; */
  font-size: 20px;
}
.dev-cards p {
  width: 90%;
  font-size: 15px;
  position: relative;
  left: 5%;
  /* border: 2px solid yellow; */
  /* padding: 10px; */
  /* color: #41cdbc; */
  /* color: #0914ae; */
  /* justify-content: center; */
}

.indiv-card {
  border-radius: 30px;
  /* border: 2px solid #0914ae; */
  margin-top: 10px;
  padding: 20px;
  height: 54%;
  width: 80%;
  /* margin-left: 15px; */
  /* background-color: #0914ae; */
  background-color: #41cdbc;
  position: relative;
  left: 7%;
}

.dev-socials a {
  padding: 10px 30px 10px 30px;
  font-size: x-large;
  color: #ffde59;
}

.socials-line {
  width: 90%;
  margin: 10px;
  height: 1px;
  /* background-color: #0914ae; */
}

.dev-title {
  font-style: italic;
  padding-bottom: 10px;
  font-weight: 100;
}

.devicon {
  height: 90px;
  border: 5px solid #ffde59;
  border-radius: 100px;
  margin: 4px;
  position: relative;
  left: 10px;
}

.devicon2 {
  height: 100px;
  /* border: 5px solid #ffde59; */
  border-radius: 100px;
  /* margin: 1px; */
  /* justify-content: center; */
}

.devPronoun {
  font-family: ysabeau;
  padding-bottom: 10px;
  /* color: rgb(168, 168, 168); */
}
/* .devicon:hover {
  transform: scale(1.2);
  border: 4px solid blue;
} */
