.dev-section {
  /* display: flex; */
  /* display: grid; */
  /* grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto; */
  /* padding: 20px; */
  /* border: 2px solid #ffffff; */
  padding-bottom: 50px;
  text-align: center;
}

.dev-img {
  height: 30%;
  /* width: 20%; */
  border-radius: 100px;
  border: 5px solid #ffde59;
  margin: 20px 0px 0px 0px;
}

.dev-cards {
  padding-left: 10px;
  width: 90%;
  /* border: 2px solid rgb(0, 21, 255); */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
.dev-cards h2 {
  color: #ffde59;
}
.dev-cards p {
  width: 90%;
  /* border: 2px solid yellow; */
  padding: 0px 20px 20px 20px;
  /* color: #41cdbc; */
  color: #0914ae;
}

.indiv-card {
  border-radius: 30px;
  /* border: 2px solid #0914ae; */
  margin-top: 20px;
  padding: 20px;
  height: 50vh;
  margin-left: 15px;
  /* background-color: #0914ae; */
  background-color: #41cdbc;
}

.dev-socials a {
  padding: 30px;
  font-size: x-large;
  color: #ffde59;
}

.socials-line {
  width: 100%;
  margin-bottom: 15px;
  height: 1px;
  background-color: #ffde59;
}

.dev-title {
  font-style: italic;
  padding-bottom: 10px;
  font-weight: 100;
}
