footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  text-align: center;
  padding: 3px;
  font-size: 15px;
  font-weight: 400;
  border-top: 2px solid #41cdbc;
  z-index: 10;
}

/* .light {
  background-color: #deeff9d0;
  color: #000000;
}
.dark {
  background-color: #050525;
  color: #ffffffd0;
} */
