.home {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 84vh;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .home-italic {
    font-family: Ysabeau;
    font-style: italic;
    color: var(--init-background);
  }
  
  .home-register,
  .home-sign {
    font-size: 22px;
    color: var(--init-blue);
    position: relative;
  }
  
  .scroll-arrow {
    position: fixed;
    right: 10vw;
    bottom: 6.5vh;
    color: red;
    width: 20vw;
    height: 5vh;
    z-index: 10;
  }
  
  .hidden {
    display: none;
  }
  .show {
    display: unset;
  }
  
  .home section {
    height: 84vh;
    scroll-snap-align: start;
  }
  
  .home-landing {
    font-size: 24px;
    display: grid;
    grid-template-rows: 10vh 1vh 58vh 1vh 12vh;
    justify-items: center;
    background-color: var(--init-mint);
    height: 98%;
    position: relative;
    top: 1vh;
  }
  .home-landing h2 {
      grid-row: 1;
      font-size: 55px;
      color: white;
      margin-top: 1vh;
  }
  .home-landing span {
    align-self: center;
    text-align: center;
    font-size: 30px;
    color: white;
    width: 100%;
  }
  .home-landing hr {
      width: 85%;
      border: 1px solid var(--init-gold);
      height: 0;
  }
  
  .home .home-logo {
    animation: fadeIn 6s;
    height: 50vh;
    margin-top: 5vh;
    grid-row: 3;
  }
  
  .home-mission {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-left: auto;
    margin-right: auto;
    animation: fadeIn 4s;
    position: relative;
    top: 1vh;
    width: 100%;
    height: 98%;
    background-color: var(--init-mint);
  }
  
  .home-mission p {
    grid-column: span 3;
    grid-row: 2;
    width: 90%;
    justify-self: center;
    align-self: center;
    text-align: center;
    font-size: 24px;
    animation: fadeIn 4s;
    position: relative;
    bottom: 3vh;
    right: 0.5vw;
    font-size: 28px;
    padding: 5px;
  }
  
  .home-mission .home-register,
  .home-sign {
    grid-column: 1/3;
    grid-row: 3;
  }
  .home-sign {
    top: 6vh;
    left: 4vw;
  }
  .home-register {
    left: 5vw;
    top: 12vh;
  }
  .text-scroll {
    grid-column: 1/4;
    grid-row: 3;
    position: relative;
    top: 20vh;
    left: 4vw;
    color: var(--init-gold);
  }
  
  .mission img {
    height: 200px;
    position: relative;
    right: 25vw;
  }
  
  .misc1,
  .misc2, .misc4 {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid var(--init-gold);
    box-shadow: 2px 2px 10px black;
    overflow: hidden;
    position: relative;
  }
  
  .misc1 {
    top: 2vh;
    left: 2vh;
  }
  .misc1 img {
    position: relative;
    right: 58px;
    bottom: 5px;
    height: 150px;
  }
  .misc2 {
    grid-row: 3;
    grid-column: 3;
    right: 4vw;
    bottom: 2vh;
  }
  .misc2 img {
    position: relative;
    right: 12vw;
    top: 1px;
    height: 149px;
  }
  
  .blue-tree {
      height: 150px;
      grid-column: 2/4;
      grid-row: 1;
      position: relative;
      left: 20vw;
      bottom: 2vh;
      align-self: center;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* second home slide */
  
  .home .home-app-guide,
  .home-guide-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 0.4fr;
    align-items: center;
    justify-items: center;
  }
  .home-app-guide span,
  .home-guide-2 span {
    font-weight: 900;
    font-family: Ysabeau;
    font-size: 28px;
  }
  
  .textbubble1,
  .textbubble2,
  .textbubble3 {
    position: relative;
    width: 180px;
    height: 110px;
    border-radius: 10px;
    border: 3px solid var(--init-mint);
    color: rgb(20, 20, 20);
    font-size: 22px;
    text-align: center;
    padding-top: 2vh;
  }
  
  /* right arrow */
  .textbubble1::after,
  .textbubble2::after,
  .textbubble3::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 13px solid transparent;
    border-left-color: var(--init-mint);
    border-right: 0;
    margin-top: -13px;
    margin-right: -13px;
  }
  
  /* left arrow */
  .textbubble2::after {
    left: 0;
    border: 13px solid transparent;
    border-right-color: var(--init-mint);
    border-left: 0;
    margin-left: -13px;
  }
  
  .textbubble1,
  .textbubble3 {
    box-shadow: -4px 4px 0px var(--init-mint);
    left: 0.5vw;
  }
  .textbubble2 {
    box-shadow: 4px 4px 0px var(--init-mint);
  }
  
  .home-app-guide div,
  .home-app-guide span,
  .home-app-guide img,
  .home-guide-2 div,
  .home-guide-2 span,
  .home-guide-2 img {
    position: relative;
  }
  .home-app-guide img,
  .home-guide-2 img {
    box-shadow: 3px 3px 15px black;
    border-radius: 20px;
  }
  
  .nav-screen {
    width: 160px;
    height: 100px;
    right: 2vw;
    font-size: 22px;
  }
  .nav-screen span {
    right: 1vw;
  }
  .navbar-screen {
    height: 230px;
    top: 3vh;
  }
  
  .profile-screen {
    height: 200px;
    width: 133px;
  }
  .profile-screen span {
    bottom: 0.8vh;
  }
  .profile-screenshot {
    border: 1px solid black;
    height: 300px;
    padding: 3px;
    bottom: 2vh;
    right: 2vw;
  }
  
  .home-app-guide .home-register {
    grid-row: 3;
    grid-column: 1;
    top: 0;
    left: 0;
    right: 1vw;
    top: 2vh;
  }
  .home-app-guide .home-sign {
    grid-row: 3;
    grid-column: 1;
    top: 0;
    left: 0;
    margin-right: 20vw;
    margin-bottom: 5vh;
  }
  
  /* Third slide */
  .home-guide-2 {
    grid-template-rows: 1.2fr 1fr 1.5fr;
  }
  
  .job-screen {
    width: 190px;
    right: 15vw;
    bottom: 8vh;
  }
  .job-screen span {
    font-size: 26px;
    position: relative;
    bottom: 1vh;
  }
  .job-screenshot {
    height: 230px;
    right: 10vw;
    bottom: 11vh;
  }
  
  .search-screen {
    width: 100px;
    height: 200px;
    right: 4vw;
    top: 2vh;
  }
  .search-screen span {
    font-size: 22px;
    bottom: 1vh;
  }
  .search-screenshot {
    height: 154px;
    left: 1.5vw;
  }
  
  .applied-screen {
    width: 150px;
    margin-right: 16vw;
    /* bottom: 3vh; */
  }
  .applied-screen span {
    font-size: 24px;
    bottom: 1vh;
  }
  .applied-screenshot {
    height: 130px;
    padding: 3px;
    right: 13vw;
    top: 6vh;
  }
  
  .home-guide-2 .home-register {
    grid-column: 1/3;
    grid-row: 3;
    position: relative;
    top: 32vh;
    left: -29vw;
  }
  .home-guide-2 .home-sign {
    grid-column: 1/3;
    grid-row: 3;
    top: 28vh;
    left: -40vw;
  }
  
  /* Last Slide */
  
  .home-final {
      display: grid;
      grid-template-columns: 3fr 1fr 3fr ;
      grid-template-rows: 20vh auto;
      align-items: center;
      /* background-image: url(/public/mint-tree-white.jpg);
      background-image: url(/public/init-back-gold-tree.jpg); */
      background-position-y: 23vh;
      background-position-x: center;
      background-size: contain;
      background-repeat: no-repeat;
  }
  
  .home-final h2 {
      grid-column: 2/4;
      grid-row: 1;
      color: var(--init-mint);
      font-size: 32px;
      width: 90%;
      justify-self: center;
  }
  

  .home-final a {
      /* background-color: var(--init-background); */
      border-radius: 50px 0px 50px 0px;
      transform: rotate(-45deg);
      border: 3px solid var(--init-mint);
      box-shadow: 2px 2px 10px black;
      height: 120px;
      width: 120px;
      position: relative;
      
       background-image: url(/public/init-back-gold-tree.jpg);
      background-size: cover;
      display: grid;
      justify-items: center;
      align-items: center;
  }
  .home-final a span {
     background-color: var(--init-background);
      padding: 2px;
      font-size: 22px;
      transform: rotate(45deg);
      text-align: center;
      /* border: 1px solid var(--init-mint); */
      border-radius: 20px;
  }
  
  .home-final .home-register{
      left: 2vw;
      top: 12vh;
   }

  .home-final .home-about{
      bottom: 6vh;
  }
  .home-final .home-about span {
      color: var(--init-blue);

  }
  .home-final .home-sign {
      left: 59vw;
      top: -19.7vh;
  }
  
  .misc4 {
      height: 120px;
      width: 120px;
      grid-column: 1;
      grid-row: 1;
      align-self: center;
      justify-self: center;
  }
  .misc4 img {
      height: 123px;
      position: relative;
      right: 18px;
      top: 2px;
  }
  
  .qr-code {
      height: 180px;
      grid-column: 1/3;
      grid-row: 3;
      position: relative;
      left: 25vw;
      top: 3vh;
      border-radius: 20px;
  }
  
  
  