.job-applicant-page {
    height: 84vh;
    display: grid;
    grid-template-rows: 15vh 60vh;
    row-gap: 2vh;
}

.job-applicant-header {
    background-color: #7cc4f5;
    display: grid;
    grid-template-columns: .4fr 2fr .7fr;
    grid-template-rows: 1fr .5fr .5fr;
    align-items: center;
    padding-bottom: 1vh;
}
.job-applicant-header svg {
    fill: black;
    stroke: black;
}
.job-applicant-header svg:first-of-type {
    justify-self: center;
}
.job-applicant-header span svg {
    position: relative;
    top: .5vh;
    margin-right: 2vw;
}
.applicant-title {
    grid-column: 2/4;
}
.applicant-company {
    grid-column: 2;
    grid-row: 2;
}
.applicant-city {
    grid-column: 2;
    grid-row: 3;
}
.applicant-remote {
    grid-column: 3 ;
    grid-row: 3;
}

.applicant-list {
    display: grid;
    grid-template-rows: 5vh ;
    grid-auto-rows: 10vh;
    row-gap: 2vh;
}