.job-applicant-page {
    height: 84vh;
    display: grid;
    grid-template-rows: 6vh 16vh 58vh 5vh;
}

.job-applicant-header {
    display: grid;
    grid-template-columns: 10% 90%;
    background-color: var(--init-blue);
    color: var(--init-background);
    align-items: center;
}
.job-applicant-header h2 {
    margin-left: 17vw;
    height: fit-content;
}

.job-applicant-header svg:first-of-type {
    position: relative;
    left: 1vw;
}

.job-applicant-job-details {
    background-color: #7cc4f5;
    display: grid;
    grid-template-columns: .2fr 2fr .7fr;
    grid-template-rows: 1fr .5fr .5fr;
    align-items: center;
    padding-bottom:1vh;
    height: 15vh;
}
.job-applicant-job-details svg {
    fill: black;
    stroke: black;
}

.job-applicant-job-details span svg {
    position: relative;
    top: .5vh;
    margin-right: 2vw;
}
.applicant-title {
    grid-column: 2/4;
    color: var(--init-blue);
}
.applicant-company {
    grid-column: 2;
    grid-row: 2;
    font-size: 18px;
}
.applicant-city {
    grid-column: 2;
    grid-row: 3;
}
.applicant-remote {
    grid-column: 3 ;
    grid-row: 3;
    font-weight: 500;
    font-size: 14px;
}

.applicant-list {
    display: grid;
    grid-template-rows: 4vh ;
    grid-auto-rows: 10vh;
    row-gap: 2vh;
    justify-items: center;
    overflow-y: scroll;
    max-height: 60vh;

    margin-top: 1vh;
    padding-top: 2vh;
}

.applicant-list h3 {
    font-size: 20px;
    width: 90%;
    text-align: center;
}

.job-applicant-link {
    color: var(--init-blue);
    font-size: 22px;
    justify-self: center;
    align-self: center;
}

/* dark mode */
.dark .job-applicant-header {
    background-color: #135b53;

    /* color: #1d262b ; */
    /* color: var(--init-blue); */
}
.dark .job-applicant-job-details h2 {
    color: #135b53;
}
.dark .job-applicant-link {
    color: var(--init-gold);
}
.dark .applicant-list h2 {
    color: var(--init-mint);
}

.dark .job-applicant-job-details {
    background-color: var(--init-mint);
}
.dark .job-applicant-job-details svg {
    fill: var(--init-dark);
    stroke: var(--init-dark);
}
.dark .job-applicant-job-details {
    color: #1d262b;
}