.applicant-card {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 20% 80% ;
    grid-template-rows: 55% 10% 35%;
    height: 10vh;
    width: 90%;
    column-gap: 2vw;
    align-items: center;
    justify-self: center;
    border-radius: 14px;
}

.applicant-icon {
    grid-row: 1/4;
    grid-column: 1;
    background-color: var(--init-mint);
    background-color: #7cc4f5;
    display: grid;
    height: 100%;
    width: 100%;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}

.applicant-icon img {
    height: 65px;
    justify-self: center;
    align-self: center;
}

.applicant-name {
    font-size: 20px;
    font-weight: 800;
    color: var(--init-blue);
}

.applicant-card hr {
    width: 90%;
    border: 1px solid var(--init-blue);
}

.applicant-email {
    color: rgb(79, 77, 77);;
}

/* dark mode */
.dark .applicant-name {
    color: var(--init-gold);
    color: white;
}
.dark .applicant-card hr {
    border-color: var(--init-gold);
}
.dark .applicant-email {
    color: var(--init-mint);
}
.dark .applicant-icon {
    background-color: var(--init-mint);
}
.dark .applicant-card {
    border: 1px solid var(--init-mint);
}