.job-form-page {
  display: grid;
  grid-template-rows: 5vh 80vh;
  height: 85vh;
  justify-items: center;
  align-items: center;
}

.job-form {
  display: grid;
  grid-template-rows: repeat(2, 6.5vh) 5vh 17vh 16vh 16vh 6vh;
  row-gap: 1vh;
  height: 100%;
  width: 96%;
  justify-items: left;
  align-items: center;
}

.job-form label {
  display: grid;
  justify-items: left;
  height: 10vh;
  width: 85%;
  row-gap: 0.5vh;
  margin-left: 3vw;
}

.job-form input:focus,
.job-form select,
.job-form textarea:focus {
  outline: none;
}

.job-form input[type="text"]:focus,
.job-form textarea:focus {
  background-color: white;
}

.job-form label:first-of-type,
.job-form label:nth-of-type(2) {
  height: 4vh;
}

.job-form-label {
  font-size: 12px;
  grid-row: 2;
}

.job-form select,
.job-form input[type="text"],
.task-container {
  border-right: none;
  border-left: none;
  background-color: var(--init-background);
}
.job-form input[type="text"] {
  border-top: none;
  grid-row: 1;
  width: 100%;
  padding-bottom: 2px;
  font-size: 18px;
}

.job-form-location {
  display: grid;
  grid-template-columns: 55% 45%;
  width: 90%;
  align-items: center;
  margin-left: 3vw;
}

.job-form-location .job-form-label-dropdown {
  position: relative;
  grid-column: 1;
  grid-row: 1;
  top: 5vh;
  right: 2vw;
  font-size: 12px;
}

.job-form select {
  grid-column: 1;
  grid-row: 1;
  border-top: none;
  height: 5vh;
  width: 85%;
  text-align: left;
  font-size: 16px;
  position: relative;
  top: 0.5vh;
}

.job-form-remote {
  justify-self: center;
  position: relative;
  font-size: 16px;
  top: 1vh;
}

.job-form-location input[type="checkbox"] {
  position: relative;
  justify-self: center;
  bottom: 0vh;
  width: 2em;
  height: 2em;
  accent-color: var(--init-blue);
}

.job-form textarea {
  background-color: var(--init-background);
  border-width: 1.5px;
  width: 103%;
  height: 9vh;
  padding: 5px 0px;
  padding-left: 3px;
  font-size: 18px;
  position: relative;
  right: 0.8vw;
}

.job-form label:nth-of-type(3) {
  margin-left: 3vw;
  margin-top: 1vh;
}

.job-textarea {
  position: relative;
  bottom: 0.5vh;
}

/* Tasks */
.job-form-tasks {
  width: 95%;
  display: grid;
  height: 15vh;
}

.task-header {
  font-size: 16px;
  display: grid;
  grid-template-columns: 40% 50% 10%;
  width: 100%;
  margin-right: 1vw;
  padding-top: 2px;
}
.task-header span:nth-child(2) {
  justify-self: right;
  margin-right: 2vw;
  color: var(--init-blue);
}
.task-req {
  font-style: italic;
  font-size: 12px;
  color: var(--init-rust);
  justify-self: center;
}
.task-header svg {
  position: relative;
}

.task-container input[type="text"] {
  height: 3vh;
  font-size: 15px;
}
.task-container .job-form-label {
  position: relative;
}
.task-container {
  border-bottom: 1px solid var(--init-blue);
  width: 95%;
  height: 12vh;
  max-height: 15vh;
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  grid-auto-rows: 7vh;
  padding-top: 5px;
  margin-left: 2vw;
}

.task-line label {
  display: grid;
  grid-template-columns: 85% 10%;
  width: 100%;
  margin-left: 1vw;
}
.task-line .task-remove {
  grid-column: 2;
  position: relative;
  justify-self: center;
  top: 0.5vh;
  left: 2vw;
}

/* skills */
.job-form .skills-checkboxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 95%;
  height: 10vh;
  margin-bottom: 3vh;
  justify-items: left;
}

.job-form .skills-checkboxes label {
  all: unset;
  display: flex;
  align-items: center;
  height: 4vh;
  font-size: 17px;
  margin-left: 3vw;
}
.job-form .skills-checkboxes label span {
  margin-left: 2vw;
}
.job-form .skills-checkboxes label input {
  width: 1.5em;
  height: 1.5em;
}

.job-form-skills span span {
  position: relative;
  bottom: 0.3vw;
  left: 3vw;
  margin-right: 3vw;
  font-size: 12px;
  font-style: italic;
}

/* submit button */
.job-form-submit {
  all: unset;
  height: 6vh;
  width: 30%;
  position: relative;
  top: 1.5vh;
  color: var(--init-blue);
  margin-left: 3vw;
  font-size: 24px;
  font-weight: 600;
}

.job-form input,
.job-form textarea,
.job-form select {
  border-color: var(--init-mint);
}

.job-form-error {
  color: var(--init-rust);
  font-size: 20px;
  position:relative;
  bottom: 4vh;
  left: 13vw;
}

/* dark mode */
.dark .job-form-header {
  background-color: var(--init-gold);
  color: black;
}

.dark .job-form input[type="text"],
.dark .job-form textarea,
.dark .job-form select, .dark .task-container, .dark .task-container input {
  border-color: var(--init-mint);
  background-color: var(--init-dark);
  color: white;
}

.dark .job-form ::placeholder{
  color: var(--init-background);
  opacity: .4;
}

.dark .job-form input[type="text"]:focus,
.dark .job-form textarea:focus {
  background-color: var(--init-dark);
}

.dark .job-form input[type="checkbox"] {
  accent-color: var(--init-gold);
}

.dark .job-form-label {
  color: var(--init-gold);
}

.dark .job-form-skills span span {
  color: var(--init-gold);
}

.dark .task-header span {
  color: var(--init-gold);
}

.dark .job-form-submit  {
 color: var(--init-gold);
}

.dark .task-remove {
  color: var(--init-rust);
}



