.job-form-page {
    display:grid;
    grid-template-rows: 5vh 75vh;
    height: 84vh;
    justify-items: center;
    align-items: center;
}

.job-form {
    display: grid;
    grid-template-rows: repeat(2, 8vh) 5vh 17vh 17vh 10vh;
    row-gap: 1vh;
    height: 100%;
    width: 95%; 
    justify-items: left;
    align-items: center;
    margin-top: 3vh;
    /* border-left: 1px solid #1d262b;
    border-right: 1px solid #1d262b;; */
}

.job-form label {
    display: grid;
    justify-items: left;
    height: 10vh;
    width: 85%;
    row-gap: 1vh;
    margin-left: 3vw;
}

.job-form input:focus, .job-form select, .job-form textarea:focus {
    outline: none; 
}

.job-form input[type="text"]:focus{
    background-color: white;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
}


.job-form-label {
   font-size: 14px;
   grid-row: 2;
}

.job-form select, .job-form input[type="text"] {
    border-right: none;
    border-left: none;
    background-color: var(--init-background);
}
.job-form input[type="text"]{
    border-top: none;
    grid-row: 1;
    width: 100%;
    /* position: relative;
    right: 11vw; */
    padding-bottom: 2px;
    font-size: 18px;
    
}

.job-form-location {
    display: grid;
    grid-template-columns: 55% 45%;
    height: 100%;
    width: 90%;
    align-items: center;
    margin-left: 3vw;
}

.job-form select {
    border-top: none;
    /* border-bottom:none; */
    height: 5vh;
    width: 80%;
    text-align: left;
    font-size: 16px;
    position: relative;
    bottom: 1vh;
}

.job-form-remote {
    justify-self: center;
    position: relative;
    bottom: 1.1vh;
}

.job-form input[type="checkbox"] {
    position: relative;
    top: 1.2vh;
    justify-self: center;
    width: 2em;
    height: 2em;
    accent-color: var(--init-mint);
}

.job-form textarea{
    background-color: var(--init-background);
    width: 104%;
    height: 9vh;
    padding: 5px 0px;
    font-size: 18px;
    position: relative;
    bottom: 1vh;
}

.job-textarea {
    position: relative;
    bottom: 1.2vh;
}

/* Tasks */
.job-form-tasks {
    width: 95%;
    margin-left: 3vw;
}
.task-container {
    border: 1px solid red;
    width: 95%;
    height: 15vh;
    overflow: scroll;
}