.recruiter-login {
  color: rgb(22, 16, 16);
  font-size: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
}

.recruiter-login h1 {
  text-align: center;
  background-color: var(--init-mint);
  font-size: 36px;
  padding: 4px 0;
  /* padding-top: 20px;
  padding-bottom: 20px; */
}

.recruiter-login-form {
  display: grid;
  grid-template-columns: 1fr;
  margin: 20px 20px;
  /* gap: 10px; */
}

.recruiter-login-form label {
  text-align: center;
}

.recruiter-login-form input {
  border: none;
  border-radius: 6px;
  margin: 10px 35px 30px 35px;
  height: 28px;
  font-weight: 600;
  font-size: 20px;
}

#recruiter-login-submit {
  width: 120px;
  margin: 0 auto;
  background-color: var(--init-mint);
  height: 40px;
  font-size: 22px;
  margin-top: 10px;
  color: var(--init-blue);
}

.recruiter-login-error {
    color: rgb(186, 26, 26);
    font-weight: 600;
    /* border: 3px solid green; */
    /* margin-top: 25px; */
    height: 40px;
    margin-bottom: 5px;
    font-size: 26px;
}

.recruiter-login a {
margin: 60px 0;
padding: 60px 0;
color: var(--init-blue);
border-top: 2px solid var(--init-mint);
font-weight: 600;
font-size: 24px;
}

.dark .recruiter-login {
    color: var(--init-background);
}

.dark #recruiter-login-submit {
    color: var(--init-blue);
    background-color: var(--init-gold)
}

.dark .recruiter-login a {
    border-top: 2px solid var(--init-gold);
    color: var(--init-gold);
}
