.registration-two {
    text-align: center;
}

.registration-two h1{
    font-size: 24px;
}

.form-register-two {
    border-bottom: 2px solid var(--init-blue);
    padding-bottom: 6px
}

.form-register-two {
    display: grid;
    margin: 20px 30px 15px 30px;
    font-size: 20px;
    row-gap: 20px;
}

.register-projects {
    display: grid;
    row-gap: 20px;
}

.form-register-two textarea, .form-register-two input {
    border: none;
    border-radius: 6px;
    font-weight: 600;
    font-size: 20px;
}

.form-register-two input[type=submit]{
    color: var(--init-blue);
    width: 40%;
    margin: 0 auto;
    font-size: 24px;
    background-color: var(--init-background);
}

.form-register-two textarea {
  height: 90px;
}

.register-two-skills {
    display: grid;
}

.register-two-skills p span {
    font-size: 16px;
    opacity: 0.7;
}

.register-two-skills .register-skill-icons .skills-checkboxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    font-weight: 600;
    row-gap: 6px;
    margin-top: 8px;
}

.register-two-skills .register-skill-icons .skills-checkboxes label {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: left;
    padding-top: 4px;
    padding-left: 4px;
}

.register-two-skills .register-skill-icons .skills-checkboxes label input {
    height: 18px;
    width: 18px;
}

.registration-two a {
    font-size: 24px;
    font-weight: 600px;
    color: var(--init-blue);
}

.dark .form-register-two {
    border-bottom: 2px solid var(--init-gold);
}

.dark .form-register-two input[type=submit] {
    color: var(--init-gold);
    background-color: var(--init-dark)
}

.dark .register-two-skills .register-skill-icons .skills-checkboxes {
    background-color: white;
    color: var(--init-charcoal);
    border-radius: 6px;
    padding: 2px;
    padding-bottom: 6px;
}

.dark .registration-two a {
    color: var(--init-gold);
}