.recruiter-register {
  color: rgb(22, 16, 16);
  text-align: center;
}

.recruiter-register a {
  font-size: 20px;
  position: relative;
  top: 2vh;
  color: var(--init-blue);
  font-weight: 600;
}

.start-form {
    /* border: 3px solid red; */
    display: grid;
    margin: 12px;
}

.start-form select {
    text-align: center;
}

.start-form h2 {
    font-size: 25px;
    padding-top: 30px;
}

.recruiter-register-form {
  margin: 20px;
  display: grid;
  /* grid-template-columns: 1fr; */
  grid-template-columns: 104px auto;
  row-gap: 10px;
  column-gap: 12px;
  text-align: left;
  font-size: 20px;
  align-items: center;
}

.recruiter-register-form label {
  margin-top: 12px;
  /* font-size: 18px; */
}

.recruiter-register-form input,
.recruiter-register select {
  border: none;
  border-radius: 6px;
  /* margin: 10px 35px 2px 35px; */
  height: 32px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 20px;
}

.register-checkmark {
    width: 18px;
    padding-left: 10px;
}

.pass-good {
    background-color: rgb(65, 209, 65);
}

.pass-good:focus {
    outline: 3px solid green;
}

.recruiter-register-form label span, .red-span {
  color: var(--init-rust);
  font-size: 16px;
}

.register-helper-text {
  grid-column: 2/3;
  font-size: 12px;
  /* margin: 0 35px 20px 35px; */
  text-align: left;
  color: rgb(52, 47, 47);
}

.recruiter-register-error {
    grid-column: 1/3;
    margin: 12px 0;
    height: 24px;
    color: var(--init-rust);
    text-align: center;
    font-weight: 600;
}

#recruiter-register-submit {
  grid-column: 1/3;
  width: 120px;
  margin: 0 auto;
  background-color: var(--init-mint);
  height: 40px;
  font-size: 22px;
  margin-top: 3px;
  color: var(--init-blue);
}

.recruiter-locked {
  display: grid;
  margin: 30px 40px;
  row-gap: 14px;
}

.recruiter-locked input[type="text"] {
  border: none;
  border-radius: 6px;
  height: 30px;
  font-size: 20px;
  text-align: center;
}

.recruiter-locked input[type="submit"] {
  border: none;
  border-radius: 6px;
  background-color: var(--init-mint);
  width: 40%;
  margin: 0 auto;
  padding: 4px;
  font-size: 22px;
  color: var(--init-blue);
  font-weight: 600;
}

.recruiter-code-error{
  color: var(--init-rust);
  font-size: 22px;
  margin-top: 10px;
}

.dark .recruiter-locked input[type="submit"]{
  background-color: var(--init-gold);
}

.dark .recruiter-register a {
  color: var(--init-gold)
}

.dark .recruiter-register h2 {
  color: var(--init-background)
}

.dark .recruiter-register-form label {
  color: var(--init-background)
}

.dark .register-helper-text {
  color: rgb(220, 200, 200)
}

.dark #recruiter-register-submit {
  background-color: var(--init-gold);
}