/* 
Mint : #41CDBC
GOLD : #FFDE59
BLUE: #0914AE 
#FF996B
#5EBAFF
#CC6C41
#4B96CC
#D28778
*/

* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

  /* background-color: #deeff9d0; */
}

/* nav, footer, app -> background */
.light {
  background-color: #deeff9d0;
  color: #000000;
}
.dark {
  background-color: #2d2d30;
  color: #ffffffd0;
}

/* links */
a {
  text-decoration: none;
}
a:hover {
  color: #0914ae;
}
