@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Poppins:wght@400;600;700&family=Work+Sans:wght@400;500;600;700&family=Ysabeau:ital,wght@1,400;1,500;1,600&display=swap");

* {
  margin: 0;
  font-family: "Work Sans", Poppins, Cabin, Ysabeau;
  --init-mint: #41cdbc;
  --init-darkmint: #0cbdbd;
  --init-gold: #ffde59;
  --init-blue: #0914ae;
  --init-background: #deeff9;
  --init-dark: #050525;
  --init-rust: rgb(186, 26, 26);
  --init-charcoal: rgb(22, 16, 16);
}

/* theme */

.light {
  background-color: var(--init-background);
  color: var(--init-charcoal);
}
.dark {
  background-color: var(--init-dark);
  color: var(--init-background);
}

/* links */
a {
  text-decoration: none;
  color: var(-init-blue);
  font-weight: 600;
}

