@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Poppins:wght@400;600;700&family=Work+Sans:wght@400;500;600;700&family=Ysabeau:ital,wght@1,400;1,500;1,600&display=swap");

/* color code variables */
/* background-color: var(--init-mint); */

/* #0cbdbd; darker mint */

* {
  margin: 0;
  font-family: "Work Sans", Poppins, Cabin, Ysabeau;
  --init-mint: #41cdbc;
  --init-darkmint: #0cbdbd;
  --init-gold: #ffde59;
  --init-blue: #0914ae;
  --init-background: #deeff9;
  --init-dark: #050525;
}

/* theme */
.light {
  background-color: var(--init-background);
  color: #000000;
}
.dark {
  background-color: var(--init-dark);
  color: #ffffff;
}

/* links */
a {
  text-decoration: none;
}
